<template name="salesGraph">
  {{#with svgData}}
    <svg width="{{dimensions.width}}" height="{{dimensions.height}}">
      <g class="chart" transform="translate(0, {{dimensions.padding.top}})">
        <path class="area" d="{{area}}" />
        <path class="line" d="{{line}}" />
        <circle class="dot" cx="{{dot.x}}" cy="{{dot.y}}" r="3" />

        <g class="x-axis" transform="translate(0, {{dimensions.chartHeight}})">
          {{#each xTicks}}
            <line x1="{{x}}" x2="{{x}}" y1="0" y2="5" />
            <text x="{{x}}" y="0" dy="24" text-anchor="middle">
              {{label}}
            </text>
          {{/each}}
        </g>
      
        <line x1="0" x2="{{dimensions.width}}" 
          y1="{{dimensions.chartHeight}}" y2="{{dimensions.chartHeight}}" />
      </g>

      <g class="y-axis" transform="translate(15, 0)">
        {{#each yTicks}}
          <line x1="0" x2="5" y1="{{y}}" y2="{{y}}"/>
          <text x="10" y="{{y}}" alignment-baseline="central">
            {{label}}
          </text>
        {{/each}}
      </g>
    </svg>
  {{/with}}
</template>